.h1 {
    justify-content: center;
    display: flex;
}

.p {
    justify-content: center;
    display: flex;
    gap: 5%;
    list-style: none;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
}

.prenoms {
    justify-content: center;
    display: flex;
    list-style: none;
    gap: 2%;
}

.h2 {
    justify-content: center;
    display: flex;
}

.sites {
    justify-content: center;
    display: flex;
    gap: 10%;
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}