.p {
    gap: 5%;
    list-style: none;
    font-size: 5em;
    font-weight: bold;
    text-shadow: 2px 2px 4px gray;
}

.prenoms {
    font-size: 130%;
    list-style: none;
    gap: 2%;
}

.pers {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding-bottom: 2%;
}

.h2 {
    text-decoration: underline;
    justify-content: center;
    display: flex;
}

.site {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5%;
}

.sites {
    justify-content: center;
    display: flex;
    gap: 10%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}