.titre {
text-align: center;
}
.panier {
.donutbasique {
  display: flex;
  margin: 0 auto;
  width: 491px;
  height: 450px;
  
}

}
.options-container {
    display: flex;
    flex-direction: column;
    flex-grow: 3; 
    margin-bottom: 10px;
}
.options-container label,
.options-container select {
    /* Garantit que chaque élément prend sa propre ligne et est aligné à gauche */
    display: block;
    width: 100%;
    margin-bottom: 10px; 
    text-align: left;
}
.fin {
display: flex;

}