main {
  min-height: calc(100vh - 12rem);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0;
  row-gap: 1rem;
  font-size: 2rem;
}

main img {
  max-width: 100rem;
  width: 100%;
  height: 50rem;
}

main li,
main ul {
  width: 100%;
}

main > ul {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
}

#options {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1rem;
}

#buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#buttons input {
  background: none;
  border: none;
  border-bottom: 0.5px solid #787878;
  padding: 0.8rem 0.5rem;
  width: 100%;
  max-width: 40rem;
}

.color {
  cursor: pointer;
  border-radius: 3px;
  height: 2rem;
  width: 2rem;
  border: solid #000 0.5px;
}

.option ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.option p {
  font-size: 2.5rem;
}
