.case {
    justify-content: baseline;
    padding-top: 2%;
}

.genre {
    display: flex;
    flex-direction: row;
    gap: 1%;
    padding-top: 3px;
}

.inscription {
    padding: 8px 20px;
    border-radius: 10px;
    border: 1px solid black;
}