.h1 {
    justify-content: center;
    display: flex;
}

.sexe {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    list-style: none;
}

.inscription-form {
    list-style: none;
    max-width: 400px;
    margin: 50px auto;
    padding: 60px;
    background: #ffffff;
    border: 1px solid #a9a9a9;
    border-radius: 50px;
    font-family: 'Helvetica Neue', sans-serif;
}

.inscription-form h2 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 200;
    color: #333;
}

.inscription-form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1em;
    color: #555;
}

.inscription-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: border-color 0.3s;
}