main form {
  min-height: calc(100vh - 13.1rem);
  width: 100%;
}

main {
  padding: 1rem 1rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 4rem;
}

form h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 2.5rem;
}

form ul {
  width: 100%;
}

#user-infos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 2rem;
}

#user-infos li {
  width: 100%;
}

#user-infos input {
  background: none;
  border: none;
  border-bottom: 0.5px solid #787878;
  padding: 0.8rem 0.5rem;
  width: 100%;
}

#checkboxes ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
}

#checkboxes li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#questions {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 1rem;
  font-size: 1.2rem;
}

#questions > li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
