@import url("https://fonts.googleapis.com/css2?family=Jomolhari&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-example: 2.5rem;
  --color-image-example: #919191;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

ul,
li {
  height: fit-content;
}

a:visited,
a,
a:focus,
a:hover {
  color: inherit;
  /* ou une couleur spécifique, ex: #000 */
  background: none;
  /* si un surlignage apparaît */
  text-decoration: none;
  /* au besoin */
}

.button {
  padding: 1rem 2rem;
  background: #fff;
  border: 0.5px solid black;
  border-radius: 3px;
}

/* Pour les écrans >= 700px */
@media screen and (min-width: 700px) {
  :root {
    font-size: 70%;
  }
}

/* Pour les écrans >= 700px */
@media screen and (min-width: 900px) {
  :root {
    font-size: 100%;
  }
}

/* Pour les écrans >= 700px */
@media screen and (min-width: 1200px) {
  :root {
    font-size: 105%;
  }
}
