header {
  width: 100%;
  border-bottom: 0.1px solid #000;
}

header nav,
header nav ul {
  height: 100%;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  list-style: none;
  padding: 1rem 2rem;
}

footer {
  padding: 1.5rem 2rem;
  width: 100%;
  color: #fff;
  background: #000;
  font-size: 0.8rem;
}

footer ul {
  width: 100%;
  height: 100%;
}

footer > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer img {
  transform: rotate(-90deg);
  height: 2rem;
}

nav > ul {
  border-bottom: solid #000 0.1px;
}

nav li img {
  width: 2rem;
  height: 2rem;
}

#burger-opened li {
  width: 100%;
}

#nav-top {
  position: relative;
  height: 6rem;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Jomolhari, sans-serif;
  font-size: 2.8rem;
  line-height: 2rem;
}

#logo span {
  font-size: 1.5rem;
  font-weight: normal;
}

#burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1rem;
}

#burger-menu div {
  height: 0.12rem;
  width: 1.5rem;
  background: #111;
  transition: transform 300ms ease, opacity 300ms ease;
}

/* Barre du haut */
#burger-menu.activated div:nth-child(1) {
  transform: translateY(0.44rem) rotate(45deg);
}

/* Barre du milieu */
#burger-menu.activated div:nth-child(2) {
  opacity: 0;
}

/* Barre du bas */
#burger-menu.activated div:nth-child(3) {
  transform: translateY(-0.44rem) rotate(-45deg);
}

#burger-opened {
  width: 100%;
  padding: 0 2rem;
  max-height: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  transition: all ease-in-out 400ms;
}

#burger-opened.activated {
  max-height: 30rem;
  padding: 1rem 2rem;
}

#burger-opened li a {
  cursor: pointer;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#burger-opened li a:hover {
  text-decoration: underline;
}

#burger-opened li a img {
  width: 0.5rem;
}

#authors,
#social-medias {
  width: 10rem;
}

#social-medias {
  text-align: right;
}

#social-medias a:hover {
  text-decoration: underline;
}

#nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

#nav-right a,
#nav-right button {
  border: none;
  border-radius: 50%;
  padding: 0.5rem;
  background: #ddd;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#nav-right a:hover,
#nav-right button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
