header {
  width: 100vw;
  height: 6rem;
}

header nav,
header nav ul {
  height: 100%;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  background: #333;
  list-style: none;
}
