li img {
  width: 100%;
}

#best-configuration,
#best-configuration ul,
#CTA ul,
#best-seller h1,
#best-configuration ul,
#premium-donut,
#see-all {
  width: 100%;
}

#CTA {
  padding: 2rem 2rem;
}

#CTA ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

#best-seller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

#best-seller h1 {
  text-align: left;
}

#best-seller ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

#premium-donut,
#see-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

#best-configuration ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

video {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

figure {
  position: relative;
}

figure ul {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 2rem;
  right: 2rem;
  row-gap: 1rem;
}

figure ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

figure ul li:hover {
  background: rgba(0, 0, 0, 0.8);
  transform: scale(1.15);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

figure img {
  height: 2rem;
  pointer-events: none;
}

.donut {
  overflow: hidden;
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 15rem;
  border-radius: 5px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.donut:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.donut img {
  width: auto;
  height: 100%;
}

/* Pour les écrans >= 700px */
@media screen and (min-width: 700px) {
  #best-configuration ul {
    justify-content: center;
    gap: 4rem;
  }

  .donut {
    width: 15rem;
  }
}

/* Pour les écrans >= 1200px */
@media screen and (min-width: 1200px) {
  #best-configuration ul {
    gap: 1rem;
  }

  .donut {
    width: 20rem;
  }
}
