li img {
  width: 100%;
}

#best-configuration,
#best-configuration ul,
#CTA ul,
#best-seller h1,
#best-configuration ul,
#premium-donut,
#see-all {
  width: 100%;
}

#CTA ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

#best-seller ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

#Donut3D {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-image-example);
  height: calc(100vh - 6rem);
  width: 100%;
}

#Donut3D p {
  font-size: var(--text-example);
}

#CTA {
  padding: 2rem 2rem;
}

#premium-donut,
#see-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

#best-seller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

#best-seller h1 {
  text-align: left;
}

#best-configuration ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.donut {
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 15rem;
  background: var(--color-image-example);
}
