li img {
  width: 100%;
}

#best-configuration,
#best-configuration ul,
#CTA ul,
#best-seller h1,
#best-configuration ul,
#premium-donut,
#see-all {
  width: 100%;
}

#CTA ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

#best-seller ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

#CTA {
  padding: 2rem 2rem;
}

#premium-donut,
#see-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

#best-seller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

#best-seller h1 {
  text-align: left;
}

#best-configuration ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

video {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

figure {
  position: relative;
}

figure ul {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 2rem;
  right: 2rem;
  row-gap: 1rem;
}

figure ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
}

figure ul li:hover {
  background: rgba(0, 0, 0, 0.8);
}

figure img {
  height: 3rem;
}

.donut {
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 15rem;
  background: var(--color-image-example);
}
