header {
  width: 100vw;
  border-bottom: 0.1px solid #000;
}

header nav,
header nav ul {
  height: 100%;
  width: 100%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  list-style: none;
  padding: 1rem 2rem;
}

footer {
  padding: 1.5rem 2rem;
  width: 100vw;
  color: #fff;
  background: #000;
  font-size: 0.8rem;
}

footer ul {
  width: 100%;
  height: 100%;
}

footer > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer img {
  width: 1.5rem;
}

li img {
  width: 100%;
}

nav > ul {
  border-bottom: solid #000 0.1px;
}

#best-configuration,
#best-configuration ul,
#CTA ul,
#best-seller h1,
#best-configuration ul,
#premium-donut,
#burger-opened li,
#see-all {
  width: 100%;
}

#CTA ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
}

#best-seller ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

#burger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
}

#burger-menu div {
  border-radius: 1px;
  height: 0.1rem;
  width: 1.5rem;
  background: #111;
  transition: all ease-in-out 300ms;
}

#logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: Jomolhari, sans-serif;
  font-size: 2.8rem;
  line-height: 2rem;
}

#logo span {
  font-size: 1.5rem;
  font-weight: normal;
}

#Donut3D {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-image-example);
  height: calc(100vh - 6rem);
  width: 100vw;
}

#Donut3D p {
  font-size: var(--text-example);
}

#CTA {
  padding: 2rem 2rem;
}

#premium-donut,
#see-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

#best-seller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

#best-seller h1 {
  text-align: left;
}

#best-configuration ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#authors,
#social-medias {
  width: 10rem;
}

#social-medias {
  text-align: right;
}

#burger-menu.activated div:nth-child(1) {
  transform: rotateX(90deg);
}

#burger-opened {
  padding: 0 2rem;
  max-height: 0;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  transition: all ease-in-out 400ms;
}

#burger-opened.activated {
  max-height: 30rem;
  padding: 1rem 2rem;
}

#burger-opened li a {
  cursor: pointer;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#burger-opened li a:hover {
  text-decoration: underline;
}

#burger-opened li a img {
  width: 0.5rem;
}

.donut {
  font-size: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  height: 15rem;
  background: var(--color-image-example);
}

.button {
  padding: 1rem 2rem;
  background: #fff;
  border: 0.5px solid black;
  border-radius: 3px;
}
