main,
form {
  width: 100%;
  height: calc(100vh - 12.25rem);
}

form {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1.5rem;
  padding: 1.5rem 1rem;
}

form fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form fieldset legend,
form fieldset p {
  text-align: center;
  width: 100%;
}

form ul input {
  background: none;
  border: none;
  border-bottom: 0.5px solid #787878;
  padding: 0.8rem 0.5rem;
  width: 100%;
}

form textarea {
  width: 100%;
  height: 20rem;
  background: #9d9d9d;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}

form textarea::placeholder {
  color: white;
}

#infos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}

#infos li {
  width: 100%;
}

#stars {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.1rem;
}

#stars img {
  cursor: pointer;
  width: 2rem;
}
