main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 12.5rem);
  width: 100%;
  padding: 2rem 0;
}

main > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}

.donut-image {
  width: 35rem;
  height: 15rem;
  border-start-end-radius: 10px;
  border-start-start-radius: 10px;
}

.donut li {
  width: 100%;
}

.donut,
.donut-text,
.donut-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.donut {
  background: #bbb;
  border-radius: 10px;
}

.donut-text {
  border-bottom: solid #000 1px;
}

.donut-bottom {
  padding: 1rem;
  row-gap: 1rem;
}

.donut-stars {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.donut-stars li {
  width: fit-content;
}

.button {
  padding: 0.51rem 1rem;
}

.donut-interaction {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
