.donuts {
    justify-content: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5%;
}

.images_donuts {
    display: block;
    margin: auto;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.stars {
    display: block;
    margin-left: auto;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

.buttons {
    padding-top: 2%;
    border-top: 2px solid black;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.box {
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
}