.donuts {
    justify-content: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5%;
}

.images_donuts {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.stars {
    float: right;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

.buttons {
    border-top: 2px solid black;
    justify-content: center;
    float: inline-end;
    display: flex;
    padding-top: 2%;
}